* {
    background-color: bisque;
    max-width: 1000px;
    align-items: center;
    margin: auto
}

.menubtn {
    position: fixed;
    left: 15px;
}

.menubtn span {
    display: block;
    width: 30px;
    height: 4px;
    background: black;
    margin: 6px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar.active {
    left: 0;
}

.Delinfo {
    display: flex;
}

.Bilder {
    width: 50%;
    padding: 10px;
}